@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: var(--vscode-editor-background);
  color: var(--vscode-editor-foreground);
  font-family: var(--vscode-font-family);
  font-size: var(--vscode-font-size);
}

#root {
  min-height: 100vh;
}
